header {
    position: relative;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.05);
    z-index: 5;
}

header .logo {
    position: absolute;
    vertical-align: middle;
    height: 40px;
    top: 50%;
    left: 40px;
    margin-top: -20px;
    font-size: 28px;
    letter-spacing: 2px;
}

header .search-area {
    position: absolute;
    width: 250px;
    height: 60px;
    line-height: 60px;
    text-align: left;
    top: 50%;
    right: 450px;
    margin-top: -30px;
}

header .search-area input {
    display: inline-block;
    width: 90%;
    height: 20px;
    line-height: 20px;

    background-color: transparent;
    border: none;
    border-bottom: 1px #C3C3C5 solid;
    color: rgba(195,195,197, 0.5);
}

header .search-area input::-webkit-input-placeholder {
    font-style: italic;
    color: rgba(195,195,197, 0.5);
}

header .search-area input::-moz-input-placeholder {
    font-style: italic;
    color: rgba(195,195,197, 0.5);
}

header .search-area input:focus {
    outline: none;
}

header .search-area .search-icon {
    display: inline-block;
    position: absolute;
    top: 0;
    right: -15px;
    font-size: 2em;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

header .search-area .search-result {
    font-size: 12px;
    background-color: #21202B;
}

header .search-area .search-result ul {
    /*padding: 15px;*/
    width: 100%;
    /*box-sizing: content-box;*/
}

header .search-area .search-result ul li {
    height: 30px;
    line-height: 30px;
    width: calc(100% - 40px);
    padding: 5px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

header .search-area .search-result ul li:hover {
    background-color: #2C2B36;
}

header .container-user {
    position: absolute;
    display: flex;
    align-items: center;
    width: 210px;
    height: 60px;
    text-align: left;
    top: 50%;
    right: 90px;
    margin-top: -30px;
    cursor: pointer;
}

header .container-user .name {
    position: relative;
    font-size: 14px;
}

header .container-user .name span {
    position: absolute;
    top: 3px;
    right: -20px;
}

header .container-user .photo, header .user-list li .user .photo {
    display: inline-block;
    width: 44px;
    height: 44px;
    overflow: hidden;
    border-radius: 22px;
    margin-right: 20px;
}

header .container-user .photo img {
    width: 100%;
}

header .user-list {
    position: absolute;
    display: none;
    width: 260px;
    padding: 15px 0;
    top: 60px;
    right: 50px;
    background-color: #21202B;
    z-index: 5;
}

header .user-list li {
    position: relative;
    height: 48px;
    padding: 0 30px;
    margin-bottom: 2px;
    cursor: pointer;
}

header .user-list li:hover {
    background-color: #2C2B36;
}

header .user-list li.selected:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 6px;
    height: 48px;
    top: 50%;
    left: 0;
    margin-top: -24px;
    background-color: #CBB852;
}

header .user-list li .user {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 2px dashed #443953;
}

header .user-list li .user .photo {
    width: 36px;
    height: 36px;
    border-radius: 18px;
}

header .user-list li .user .photo img {
    width: 100%;
}

header .user-list li .user .name {
    font-size: 12px;
}