* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
    
    font-family: 'Roboto', sans-serif;
    color: #C3C3C5;
}

html, body {
    background-color: #161521;
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 740px;
    height: calc(100% - 60px);
    min-height: 550px;
    margin: 0 auto;
}

/* UTILS */
.down-arrow {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid #EEE;
    border-top: none;
    border-right: none;

    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(87,72,101,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(87,72,101,0.4);
}