* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
    
    font-family: 'Roboto', sans-serif;
    color: #C3C3C5;
}

html, body {
    background-color: #161521;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main {
    display: block;
    width: 950px;
    height: calc(100% - 60px);
    margin: 30px auto 0;
}

/* UTILS */
.down-arrow {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid #EEE;
    border-top: none;
    border-right: none;

    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
