main .recommendations {
    width: 504px;
    margin-top: -40px;
}

main .recommendations .recommendations-header {
    margin-bottom: 20px;
}

main .recommendations .recommendations-header:after {
    content: '';
    display: block;
    width: 50px;
    margin-top: 5px;
    border-top: 2px solid #574865;
}

main .recommendations .recommendations-list {
    font-size: 0;
    margin: 0 -2px;
}

main .recommendations .recommendations-list li {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 120px;
    height: 180px;
    margin: 2px;
    z-index: 1;
}

main .recommendations .recommendations-list li:hover {
    z-index: 2;
}

main .recommendations .recommendations-list li a {
    position: absolute;

    width: 120px;
    height: 180px;

    top: 50%;
    left: 50%;
    margin-top: -90px;
    margin-left: -60px;

    background-color: #000;

    -webkit-transition: height 0.5s, width 0.5s, margin 0.5s;
    transition: height 0.5s, width 0.5s, margin 0.5s;
}

main .recommendations .recommendations-list li:hover a {
    width: 140px;
    height: 210px;
    margin-top: -105px;
    margin-left: -70px;
}

main .recommendations .recommendations-list li a img {
    width: 100%;
    height: 100%;
}