<div class="poster-background">
    <img class="poster" src="{{=it.film.url_poster}}" alt="">
    <img class="gradient" src="statics/images/gradiente.png" alt="">
</div>
<div class="film-info">
    <div class="close">&#10060;</div>
    <div class="description">
        <div class="title">{{=it.film.titulo}}</div>
        <div class="synopsis">{{=it.film.sinopse}}</div>
    </div>
    <!-- <div class="recommendations">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis earum et velit repudiandae dicta doloribus voluptatum magnam esse iste hic, incidunt, omnis quos molestias, recusandae eos ipsam quas excepturi expedita.
    </div> -->
</div>