<div class="movie">
    <div class="close">&times;</div>
    <div class="poster-background">
        <img class="poster" src="{{=it.movie.url_poster}}" alt="">
    </div>
    <div class="movie-info">
        <div class="description">
            <div class="title">{{=it.movie.titulo}}</div>
            <div class="synopsis">{{=it.movie.sinopse}}</div>
        </div>
        <div class="movie-recommendations">
            <div class="movie-recommendations-header">Assista tamb&eacute;m</div>
            <ul class="movie-list">
                {{~it.movies:movie}}
                    <li data-id="{{=movie.id}}">
                        <a href="#"><img src="{{=movie.url_poster}}" alt=""></a>
                    </li>
                {{~}}
            </ul>
        </div>
    </div>
</div>